@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg > img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

body._lock {
  overflow: hidden;
}

/*--------------------*/
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1240px) {
  .container {
    max-width: none; } }

@media (max-width: 1064px) {
  .container {
    max-width: 920px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

/*=====================*/



/* Шрифты =====================*/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?klop5n');
  src:  url('../fonts/icomoon.eot?klop5n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?klop5n') format('truetype'),
    url('../fonts/icomoon.woff?klop5n') format('woff'),
    url('../fonts/icomoon.svg?klop5n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pointer:before {
  content: "\e900";
}


body {
  font-family: 'Roboto', sans-serif;
}

/*=============================*/

/* =================================================================
// Начало - "header"
// ===============================================================*/
.header {
  border: 1px solid rgba(237, 237, 237, 0.5);
  /*background: linear-gradient(0deg, rgba(237, 237, 237, 0.5), rgba(237, 237, 237, 0.5)),linear-gradient(0deg, #F5F5F5, #F5F5F5);*/
  background: rgba(245, 245, 245, 1);
  padding: 50px 0 20px;
  position: relative;
  z-index: 100;
}
.container {}
.header__body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex: 0 0 165px;
}
.header__logo img{
  width: 100%;
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  margin: 0 10px;
  position: relative;
  padding: 10px 0;
}
.header__link a{
  font-size: 14px;
  font-weight: 400;
  color: rgba(1, 0, 72, 1);
}
.header__link ul a{
  color: #333;
}
.header__icon {
  position: relative;
  display: inline-block;
  top: 1px;
  font-size: 12px;
  transition: all 0.3s ease 0s;
  transform: rotate(0deg);
  pointer-events: none;
}


.header__link > ul {
  position: absolute;
  /*width: 120px;
  height: 80px;*/
  padding: 15px;
  padding-right: 0;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  left: 0;
  top: 100%;
  transform: translateY(10%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  z-index: 10;
  transition: all 0.3s ease 0s;
}
.header__link .header__link ul{
  position: absolute;
  padding: 15px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  left: 100%;
  top: 0;
  /*transform: translateY(10%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;*/
  z-index: 10;
  transition: all 0.3s ease 0s;
}
.header__link ul li{
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  padding-right: 37px;
}
.header__link ul li:last-child {
  padding-bottom: 0;
}

.header-button {
  display: flex;
}
.header-button__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.header-button__link img{
  margin-right: 5px;
}
.header-button__link span{
  flex: 0 0 15%;
  font-size: 14px;
  font-weight: 400;
  color: rgba(1, 0, 72, 1);
}
.header-button__button {
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 400;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 35px;
  margin: 0 10px;
  border-radius: 10px;

}
.header-button__button:last-child {
  margin-right: 0 !important;
}
.header-button__button_border {
  border: 1px solid rgba(1, 0, 72, 1);
  color: rgba(1, 0, 72, 1);
}
.header-button__button_yellow {
  border: 1px solid rgba(255, 214, 0, 1);
  background: rgba(255, 214, 0, 1);
  color: #000;
}



.header__mobile-right {
  display: none;
  max-width: 0;
}
.header__mobile-left {
  display: none;
  max-width: 0;
}
.header-burger__header {
  display: none;
  max-width: 0;
}

@media (min-width: 1064.1px) {
  .header__link ul:hover {
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
    pointer-events: all;
  }
  .header__link .header__link:hover .header__icon{
    transform: translateY(3px) rotate(90deg);
  }
  .header__link:hover > ul{
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
    pointer-events: all;
  }
  .header__link:hover .header__icon{
    transform: rotate(180deg);
  }
  .header__link .header__link .header__icon{
    position: absolute;
    right: 7.5px;
    top: 0;
    transition: all 0.3s ease 0s;
    transform: translateY(3px) rotate(-90deg);
  }
}

@media (max-width: 1240px) {
  .header__logo {
    flex: 0 0 15%;
  }
  .header__link {
    padding-right: 6px;
    padding-left: 6px;
  }
  .header__link a img{
    width: 2vw;
  }
  .header__link a {
    font-size: 1.2vw;
  }


  .header-button__link img{
    width: 2vw;
    margin-right: 2px;
  }
  .header-button__link span{
    font-size: 1.2vw;
  }
  .header-button__button {
    font-size: 1.2vw;
    height: 25px;
    padding: 0 1.5vw;
    margin: 0 5px;
  }
}
@media (max-width: 1064px) {
  .burger-icon {
    display: flex;
    align-items: center;
  }
  .header__mobile-left a {
    flex: 0 0 24px;
    margin-left: 18px;
    display: flex;
    align-items: center;
  }
  .header-burger__wrapper {
    overflow: auto;
    height: 100%;
    padding: 0px 15px;
    padding-bottom: 120px;
  }
  .header__link a {
    font-size: 16px;
  }
  .header-burger__header {
    font-size: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 15px 20px;
  }
  .header-burger__logo {
    width: 130px;
  }
  .header-burger__logo img{
    width: 100%;
  }
  .header-burger__icon {}
  .header__logo {
    flex: 0 0 130px;
  }
  .header-burger {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    left: -100%;
    top: 0;
    display: block;
    transition: all 0.3s ease 0s;
  }
  .header-burger._active {
    left: 0%;
  }
  .header__list {
    display: block;
  }
  .header__link{
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #F1F1F1;
    overflow: hidden;
    padding: 0;
  }
  .header__spoiler-title._active .header__icon {
    transform: translateY(1px) rotate(180deg);
  }
  .header__link .header__link{
    border-top: 0px solid #F1F1F1 !important;
    padding: 0;
  }
  .header__link > *{
    padding: 12px 0 !important;
    display: block;
  }
  .header__link:first-child  {
    border-top: 0px solid #F1F1F1;
  }
  .header__link ul{
    position: relative !important;
    transform: translate(0%) !important;
    height: 0 !important;
    box-shadow: none !important;
    padding: 0 15px !important;
    opacity: 0 !important;
  }
  .header__link ul._active{
    opacity: 1 !important;
    pointer-events: auto !important;
    visibility: visible !important;
    height: auto !important;
    padding: 10px 15px !important;
  }
  .header__link ul .header__link {
    padding-right: 0;
  }
  .header__link ul .header__link ul{
    position: relative;
    opacity: 1;
    visibility: visible;
    transform: translate(0%);
    left: 0;
    margin-left: 0px;
  }
  .header-button__link{
    margin: 0;
    /*display: block;*/
  }
  .header-button__link img{
    width: 20px;
  }
  .header-button__link span{
    font-size: 14px;
  }

  .header__mobile-right {
    display: block;
    max-width: none;
  }

  .header__mobile-left {
    width: 33px;
    max-width: 33px;

    display: flex;
    justify-content: flex-start;
  }
  .header__mobile-left > div{
    flex: 0 0 33px;
  }
  .header__mobile-left img{
    width: 100%;
  }
  .header-button {
    display: block;
    margin-top: 16px;
  }
  .header-button__button {
    font-size: 16px;
    height: 35px;
    padding: 0 15px;
    margin: 0;
    margin-bottom: 6px;
    max-width: 280px;
  }
}
@media (max-width: 767px) {
  
}
@media (max-width: 420px) {
  .header__mobile-left {
    /*width: 33px;
    max-width: 33px;*/
  }
  .header__mobile-left > div{
    flex: 0 0 100%;
  }
  .header__mobile-left a {
    flex: 0 0 0px;
    max-width: 0;
    margin-left: 0px;
  }
}
/* =================================================================
// Конец - "header"
// ===============================================================*/








/* =================================================================
// Начало - ""
// ===============================================================*/

.index-blok {
  padding: 45px 0;
  position: relative;
  padding-bottom: 150px;
}
.index-blok:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(241, 241, 241, 1);
  z-index: -1;
  border-radius: 0 0 230px 0;
}
.container {}
.index-blok__body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.index-blok__content {
  flex: 0 0 45%;
}
.index-blok__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0.08em;
  color: rgba(1, 0, 72, 1);
  margin-bottom: 30px;

}
.index-blok__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(86, 86, 86, 1);

  margin-bottom: 40px;
}
.index-blok__button {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(1, 0, 72, 1);
  border: 1px solid rgba(1, 0, 72, 1);

  height: 39px;
  width: 100%;
  max-width: 226px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.index-blok__img {
  flex: 0 0 55%;
  padding-left: 15px;
}
.index-blok__img img{
  width: 85%;
}

/*=============================================*/

.index-blok-list {
  background: rgba(241, 241, 241, 1);
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  transform: translateY(25px);
  display: none;
}
.index-blok-list__wrapper {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  max-width: 480px;
  margin: 0 auto;

}
.index-blok-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.index-blok-list__item:last-child {

}
.index-blok-list__item img {
  height: 22px;
  margin-bottom: 4px;
}
.index-blok-list__item span {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  color: rgba(143, 143, 143, 1);

}

/*=============================================*/


/* index-foter ================================*/
.index-footer {
  transform: translateY(-40px);
}
.container {}
.index-footer__body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
}
.index-footer-blok {
  flex: 0 0 32%;
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2%;
  position: relative;
  overflow: hidden;
}


.index-footer-blok__img {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 28%;
}
.index-footer-blok__img_big {
  width: 50%;
  right: 0;
  bottom: 0;
}
.index-footer-blok.index-footer-blok_2-columns {
  background: none;
  box-shadow: none;
  padding: 0;
  overflow: visible;
}
.index-footer-blok__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 16px;
  max-width: 55%;

}
.index-footer-blok__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 30px;
  max-width: 75%;
  padding-bottom: 12px;
}
.index-footer-blok__input {

}
.index-footer-blok__input input{
  width: 100%;
  height: 41px;
  background: rgba(245, 245, 245, 1);
  border: 1px solid rgba(245, 245, 245, 1);
  max-width: 65%;
  border-radius: 10px;
  padding: 0 20px;
  margin-bottom: 12px;
  transition: all 0.3s ease 0s;
}
.index-footer-blok__input input._error{
  border: 1px solid rgba(255, 66, 0, 0.9);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.index-footer-blok__button {
  background: rgba(255, 214, 0, 1);
  height: 31px;
  line-height: 31px;
  padding: 0 15px;

  border-radius: 10px;
  display: inline-block;
  /*width: 169px;*/
}



.index-footer-blok.index-footer-blok_2-columns .index-footer-item{
  background: #fff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.1);
}
.index-footer-item {
  position: relative;
  padding-right: 23% !important;
}
.index-footer-item:first-child {
  flex: 1 1 auto;
}
.index-footer-item:last-child {
  margin-top: 20px;
}

.index-footer-item .index-footer-blok__text {
  margin-bottom: 0;
}
/* ============================================*/



/* index-foter ================================*/
.index-footer__list {
  font-size: 0;
  display: flex;
  justify-content: space-between;

  background: #fff;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px 0px rgba(0, 0, 0, 0.1);
}
.index-footer-link {
  flex: 0 0 10%;
  border-right: 1px solid rgba(241, 241, 241, 1);

  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  padding: 10px 5px;
}
.index-footer-link:last-child {
  border-right: 1px solid rgba(241, 241, 241, 0);
}
.index-footer-link__img {
  height: 27px;
  flex: 0 0 27px;
  width: auto;
  margin-bottom: 10px;
}
.index-footer-link__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
  color: rgba(86, 86, 86, 1);

}

/* ============================================*/



@media (max-width: 1240px) {
  /* index-foter ================================*/
  .index-footer-link__img {
    height: 2.3vw;
    margin-bottom: 7px;
  }
  .index-footer-link__text {
    font-size: 1vw;
    font-weight: 300;
    line-height: 16px;
  }
  /* ============================================*/
}
@media (max-width: 1064px) {
  .index-blok {
    padding: 65px 0 0 0;
  }
  .index-blok__body {
    display: block;
  }

  .index-blok__img {
    padding-left: 0px;
    display: flex;
    justify-content: flex-end;
    padding-right: 45px;
    margin-top: 20px;
  }
  .index-blok__img img{
    flex: 0 0 75%;
  }

  .index-blok__title {
    margin-bottom: 15px;
  }
  .index-blok__text {
    margin-bottom: 20px;
  }


  /* index-foter ================================*/
  .index-footer {
    transform: translateY(0px);
    padding-top: 45px;
  }
  .index-footer__body {
    flex-wrap: wrap;
  }
  .index-footer-blok {
    flex: 0 0 49%;
    /*margin-bottom: 2%;*/
    padding-bottom: 2% !important ;
  }
  .index-footer-blok.index-footer-blok_2-columns {
    flex: 0 0 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .index-footer-blok.index-footer-blok_2-columns .index-footer-item{
    flex: 0 0 49%;
    margin: 0;
  }
  /*=============================================*/

  /* index-foter ================================*/
  .index-footer__list {
    background: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .index-footer-link {
    flex: 0 0 19%;
    background: rgba(241, 241, 241, 1);
    border-right: none;
    margin-bottom: 1.5%;
    border-radius: 10px;

    flex-direction: row-reverse;
    padding: 15px;
  }
  .index-footer-link:last-child {
    border-right: 1px solid rgba(241, 241, 241, 0);
  }
  .index-footer-link__img {
    height: auto;
    margin-bottom: 0px;
    flex: 0 0 25px;
    max-width: 25px;
    order: 2;
  }
  .index-footer-link__text {
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: rgba(86, 86, 86, 1);
    order: 1;
    flex: 1 1 auto;
    padding-left: 10px;
  }
  /* ============================================*/
}
@media (max-width: 767px) {
  .index-footer {
    padding-top: 25px;
  }
  .index-blok:before {
    height: 75%;
  }

  .index-blok-list {
    display: block;
  }
  .index-blok__img img{
    transform: translateY(10%);
  }
  /* index-foter ================================*/
  .index-footer__list {
    justify-content: flex-start;
  }
  .index-footer-link {
    flex: 0 0 24%;
    margin-bottom: 1.333%;
    margin-right: 1.333%;

    flex-direction: row-reverse;
    padding: 15px;
  }
  .index-footer-link:nth-child(4n) {
    margin-right: 0%;
  }
  /* ============================================*/

  .index-footer-item button{
    width: 100%;
    max-width: 65%;
  }
  .index-footer-item input{
    width: 100% !important;
    max-width: 65% !important;
  }
}
@media (max-width: 640px) {
  /* index-foter ================================*/
  .index-footer__list {
    justify-content: space-between;
  }
  .index-footer-link {
    flex: 0 0 49%;
    margin-bottom: 10px;
    padding: 15px;
    margin-right: 0;
  }
  /* ============================================*/

  /* index-foter ================================*/
  .index-footer__body {
    display: block;
  }
  .index-footer-blok {
    margin-bottom: 15px;
  }
  .index-footer-blok.index-footer-blok_2-columns {
    display: block;
    margin: 0;
  }
  .index-footer-blok.index-footer-blok_2-columns .index-footer-item{
    margin-bottom: 15px;
  }
  .index-footer-blok__img_big {
    width: 40%;
    right: 0;
    bottom: 0;
  }
  /*=============================================*/

  .index-footer-blok__title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .index-footer-blok__text {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 14px !important;
    max-width: 75%;
  }
  .index-footer-blok,
  .index-footer-blok.index-footer-blok_2-columns .index-footer-item {
    padding: 12px 15px;
    border-radius: 10px;
    overflow: hidden;
  }
  .index-footer-item {
    padding-right: 40% !important;
  }


  .index-footer-item input{
    max-width: 85% !important;
  }
  .index-footer-item button{
    width: 100%;
    max-width: 65%;
  }
  .index-footer-item input{
    width: 100% !important;
    max-width: 65% !important;
    min-width: 169px;
  }
  .index-footer-blok__button {
    min-width: 169px;
  }
  .index-footer-blok__text {
    max-width: 100%;
  }
}
@media (max-width: 520px) {
  .index-blok__title {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.08em;
    text-align: center;
    margin: 0 auto;

    margin-bottom: 15px;
    max-width: 282px;
  }
  .index-blok__text {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 20px;
    max-width: 
  }
  .index-blok__button {
    margin: 0 auto;
  }

  .index-blok__img {
    display: block;
    padding-right: 0px;
  }
  .index-blok__img img{
    width: 100%;
  }



  .index-blok-list__item {
    padding: 3vw;
  }
  .index-blok-list__item img {
    height: 4.5vw;
  }
  .index-blok-list__item span {
    font-size: 3vw;
  }
}
@media (max-width: 360px) {
  /* index-foter ================================*/
  .index-footer-link {
    flex: 0 0 100%;
  }
  /* ============================================*/
}
/* =================================================================
// Конец - ""
// ===============================================================*/








/* =================================================================
// Начало - "friend-invitation"
// ===============================================================*/

.friend-invitation {
  background: rgba(241, 241, 241, 1);
  position: relative;
  overflow: hidden;
}
.friend-invitation__bacgraund {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.container {}
.friend-invitation__body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.friend-invitation__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.08em;
  color: rgba(1, 0, 72, 1);
  flex: 0 0 40%;
}

.friend-invitation__content {
  flex: 1 1 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.friend-invitation__wrapper {
  padding: 0 15px;
  flex: 1 1 auto;
}
.friend-invitation__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(86, 86, 86, 1);
  margin-bottom: 16px;

}
.friend-invitation__link {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(1, 0, 72, 1);
  text-decoration: underline !important;

}
.friend-invitation__img {
  flex: 0 0 30%;
  position: relative;
  padding-top: 17%;
}
.friend-invitation__img img{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}



@media (max-width: 1240px) {
  
}

@media (max-width: 1064px) {
  .friend-invitation__content {
    display: block;
    padding: 25px 0;
    padding-right: 35px;
  }
  .friend-invitation__wrapper {
    padding: 0;
  }
  .friend-invitation__title {
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.08em;
  }
  .friend-invitation__img {
    flex: 0 0 40%;
  }
  .friend-invitation__img img{
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  .friend-invitation__content {
    padding: 17px 0;
    padding-right: 15px;
  }
  .friend-invitation__title {
    margin-bottom: 0px;
    font-size: 0px;
    line-height: 0px;
    letter-spacing: 0;
    display: none;
  }
}
@media (max-width: 460px) {
  .friend-invitation__text {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;


    margin-bottom: 8px;
  }
  .friend-invitation__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
}
/* =================================================================
// Конец - "friend-invitation"
// ===============================================================*/








/* =================================================================
// Начало - "our-differences"
// ===============================================================*/
.our-differences {
  margin: 50px 0;
  position: relative;
  padding: 60px 0;
}
.our-differences:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(48, 48, 48, 0.04);
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: -1;
  border-radius: 230px 0 230px 0;
}
.container {}
.our-differences__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0.08em;
  color: rgba(1, 0, 72, 1);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.our-differences__wrapper {
  /*max-width: 90%;
  margin: 0 auto;*/
}
.our-differences-body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.our-differences-body__img {
  flex: 0 0 20%;
}
.our-differences-body__img.our-differences-body__img_big{
  flex: 0 0 40%;
}
.our-differences-body__img.our-differences-body__img_min{
  position: relative;
}
.our-differences-body__img.our-differences-body__img_min img{
  position: absolute;
  left: 0;
  bottom: 0;
}
.our-differences-body__img img{
  width: 100%;
}

.our-differences-body__content {
  flex: 1 1 auto;
  padding-right: 30px;
  padding-left: 120px;
}
.our-differences-body__content.our-differences-body__content_right {
  padding-left: 30px;
  padding-right: 120px;
  padding-bottom: 200px;
  padding-top: 85px;
}
.our-differences-body__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: rgba(1, 0, 72, 1);
  margin-bottom: 18px;

}
.our-differences-body__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(86, 86, 86, 1);
}





@media (max-width: 1480px) {
  .our-differences__title {
    text-align: center;
  }
}


@media (max-width: 1240px) {
  
}

@media (max-width: 1064px) {
  .our-differences__title {
    max-width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .our-differences-body__content {
    padding-right: 30px;
    padding-left: 0px;
  }
  .our-differences-body__content.our-differences-body__content_right {
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 50px;
  }

  .our-differences:before {
    border-radius: 180px 0 0px 0;
  }
  .our-differences {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .our-differences {
    padding-bottom: 0;
  }
  .our-differences__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.08em;

    margin-bottom: 35px;
  }
  .our-differences:before {
    display: none;
  }
  .our-differences__wrapper {
    position: relative;
  }
  .our-differences__wrapper:before {
    content: "";
    width: 100vw;
    height: 100%;
    background: rgba(48, 48, 48, 0.04);
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    z-index: -1;
    transform: translateX(-50%);
    border-radius: 260px 0 0px 0;
  }

  .our-differences-body {
    padding: 30px 0;
    margin-bottom: 0px;
  }
  .our-differences-body__content {
    padding-left: 35px;
  }
  .our-differences-body__content.our-differences-body__content_right {
    padding-top: 60px;
    padding-left: 15px;
  }

  .our-differences-body__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;


    margin-bottom: 12px;
  }
  .our-differences-body__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
}
@media (max-width: 620px) {
  .our-differences {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .our-differences-body__content.our-differences-body__content_right {
    padding-top: 0px;
  }
  .our-differences-body__img {
    flex: 0 0 130px;
  }
  .our-differences-body__img.our-differences-body__img_big{
    flex: 0 0 210px;
  }

}
@media (max-width: 380px) {
  .our-differences-body__content {
    padding-left: 0px;
  }
  .our-differences-body__img {
    flex: 0 0 90px;
  }
  .our-differences-body__img.our-differences-body__img_big{
    flex: 0 0 140px;
  }
}

/* =================================================================
// Конец - "our-differences"
// ===============================================================*/








/* =================================================================
// Начало - "text-blok"
// ===============================================================*/
.text-blok {
  background: rgba(241, 241, 241, 1);
  padding: 50px 0;
  margin: 60px 0;
}
.container {}
.text-blok__body {
  font-size: 0;
  display: flex;
  justify-content: space-around;
}
.text-blok-blok {
  flex: 0 0 25%;
}
.text-blok-blok__img {
  margin-bottom: 15px;
  height: 170px;
  width: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.text-blok-blok__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: rgba(1, 0, 72, 1);
  margin-bottom: 10px;
}
.text-blok-blok__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: rgba(86, 86, 86, 1);
}




@media (max-width: 1240px) {
  
}

@media (max-width: 1064px) {
  .text-blok {
    margin-top: 0;
  }
  .text-blok__body {
    justify-content: space-between;
  }
  .text-blok-blok {
    flex: 0 0 31%;
  }

  .text-blok-blok__img {
    margin-bottom: 10px;
    height: 130px;
  }

  .text-blok {
    background: none;
    position: relative;
    padding-bottom: 140px;
  }
  .text-blok:before {
    content: "";
    width: 100vw;
    height: 100%;
    background: rgba(48, 48, 48, 0.04);
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    z-index: -1;
    transform: translateX(-50%);
    border-radius: 0px 0 180px 0;
  }
}

@media (max-width: 767px) {
  .text-blok__body {
    display: block;
  }
  .text-blok-blok {
    margin-bottom: 25px;
  }
  .text-blok-blok:last-child {
    margin-bottom: 0px;
  }
  .text-blok-blok__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
  }
  .text-blok-blok__text {
    font-size: 12px;
    line-height: 14px;
    max-width: 420px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 620px) {
  .text-blok {
    padding-bottom: 80px;
  }
}
/* =================================================================
// Конец - "text-blok"
// ===============================================================*/








/* =================================================================
// Начало - "cases-slaider"
// ===============================================================*/
.cases-slaider {
  margin: 60px 0;
  overflow: hidden;
  padding: 45px 0;
}
.container {}
.cases-slaider__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0.08em;
  color: rgba(1, 0, 72, 1);
  margin-bottom: 32px;

}
.cases-slaider__body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
}
.cases-slaider__body:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 11.5px;
  transform: translateX(-50%);
  width: 120vw;
  height: 1px;
  background: rgba(159, 159, 159, 1);
  display: block;
  z-index: -1;
}
.cases-slaider-blok {
  /*flex: 0 0 32%;*/
  position: relative;
  z-index: 2;
}
.cases-slaider-blok__icon {
  width: 24px;
  height: 24px;
  margin-bottom: 12px;
  position: relative;
  left: 40px;
}
/*.cases-slaider-blok__icon:before {
  content: "";
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-50%, -100%);
  width: 50vw;
  height: 1px;
  background: rgba(159, 159, 159, 1);
  display: block;
  z-index: 1;
}*/
.cases-slaider-blok__icon:after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: #fff;
  display: block;
  z-index: 3;
  border-radius: 50%;
  border: 1px solid rgba(159, 159, 159, 1);
}

.cases-slaider-blok__sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 1);

  margin-bottom: 85px;

}
.cases-slaider-blok__content {
  border-radius: 20px;
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding-bottom: 22px;
}
.cases-slaider-blok__img {
  padding-top: 60%;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  display: block;
}

.cases-slaider-blok__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(0, 0, 0, 1);
  padding: 0 20px;
  margin-bottom: 28px;

}
.cases-slaider-blok__link {
  text-transform: uppercase;

  font-size: 12px;
  font-weight: 100;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 20px;

}

.cases-slaider-scrollbar {
  position: relative;
  height: 10px;
  margin-top: 40px;

}
.cases-slaider-scrollbar .swiper-scrollbar {
  opacity: 1 !important;
  background: none !important;
  height: 7px !important;
  /*width: 100% !important;*/
  border-bottom: 1px solid rgba(241, 241, 241, 1);
}
.cases-slaider-scrollbar .swiper-scrollbar-drag {
  background: rgba(237, 237, 237, 1);
  border-radius: 10px;
  top: -4px;
}




@media (max-width: 1240px) {
  
}

@media (max-width: 1064px) {
  
}

@media (max-width: 767px) {
  .cases-slaider__title {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.08em;
    text-align: center;
    margin-bottom: 34px;
  }
  .cases-slaider__body {
    max-width: 85%;
  }
  .cases-slaider__body:before {
    display: none;
  }
  .cases-slaider-blok__icon {
    display: none;
    max-height: 0;
  }
  .cases-slaider-blok__sub-title {
    margin-bottom: 15px;
  }

}

@media (max-width: 620px) {
  .cases-slaider {
    padding: 0;
    margin-bottom: 20px;
  }
}

/* =================================================================
// Конец - "cases-slaider"
// ===============================================================*/








/* =================================================================
// Начало - "mobile-app"
// ===============================================================*/
.mobile-app {
  overflow: hidden;
}
.ibg {}
.container {}
.mobile-app__body {
  font-size: 0;
  display: flex;
  justify-content: space-between;
}
.mobile-app__content {
  flex: 1 1 auto;
  padding: 155px 0 95px;
  padding-right: 20px;
}
.mobile-app__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0.08em;
  color: rgba(1, 0, 72, 1);
  margin-bottom: 32px;


}
.mobile-app__text {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(86, 86, 86, 1);
  margin-bottom: 24px;

}

.mobile-app__list {
  display: flex;
}

.mobile-app__link {
  flex: 0 0 49%;
  max-width: 180px;
  margin-right: 25px;
}
.mobile-app__link img{
  width: 100%;
}

.mobile-app__img {
  flex: 0 0 45%;
  position: relative;
}
.mobile-app__img img{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}



@media (max-width: 1240px) {
  .mobile-app__content {
    padding: 55px 0 35px;
  }
}

@media (max-width: 1064px) {
  
}

@media (max-width: 767px) {
  .mobile-app {
    padding-top: 80px;
    background: rgba(1, 0, 72, 0) !important;
    overflow: visible;
  }
  .mobile-app:before {
    content: "";
    width: 100vw;
    height: 80%;
    background: rgba(48, 48, 48, 0.04);
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    z-index: -1;
    transform: translateX(-50%);
    border-radius: 180px 0 180px 0;
  }
  .mobile-app__body {
    display: flex;
    justify-content: flex-standart;
    flex-direction: column;
  }
  .mobile-app__img {
    order: -1;
    transform: translateY(-80px);
  }
  .mobile-app__img img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    max-width: 540px;
  }


  .mobile-app__title ,
  .mobile-app__text {
    display: none;
  }

  .mobile-app__list {
    display: block;
    padding-bottom: 65px;
  }

  .mobile-app__link {
    display: block;
    max-width: 160px;
    margin-right: 0px;
    margin-bottom: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .mobile-app__link img{
    width: 100%;
  }
  .mobile-app__content {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .mobile-app__img {
    transform: translateY(-40px);
  }
}
/* =================================================================
// Конец - "mobile-app"
// ===============================================================*/








/* =================================================================
// Начало - "blog"
// ===============================================================*/
.blog {
  padding: 95px 0;
  overflow: hidden;
}
.container {}
.blog__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0.08em;
  color: rgba(1, 0, 72, 1);
  text-transform: uppercase;
  margin-bottom: 8px;

}
.blog__sub-title {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
  max-width: 720px;

  margin-bottom: 24px;
}
.blog__body {}


.blog-blok__img {
  display: block;
  padding-top: 60%;
  background-color: rgba(0, 0, 0, 0.1);
}
.ibg {}
.blog-blok__data {
  font-size: 12px;
  font-weight: 100;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  padding: 12px 20px;
  margin-bottom: 0px;

}
.blog-blok__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(0, 0, 0, 1);
  padding: 0px 20px;

  margin-bottom: 14px;

}
.blog-blok__text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  color: rgba(0, 0, 0, 1);
  padding: 0px 20px;

  margin-bottom: 32px;

}
.blog-blok__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}
.blog-blok__nevs {
  font-size: 12px;
  font-weight: 100;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
.blog-blok__numbers {
  font-size: 0;
  display: flex;
  align-items: center;
}
.blog-blok__number {
  margin-left: 12px;
  font-size: 10px;
  font-weight: 400;
  color: rgba(86, 86, 86, 0.6);

  display: flex;
  align-items: center;
}
.blog-blok__number img{
  margin-right: 3px;
}


.blog-blok {
  border-radius: 20px;
  box-shadow: 6px 6px 15px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding-bottom: 18px;
  margin-bottom: 4%;
}





.blog__button-pc {
  font-size: 18px;
  font-weight: 400;
  color: rgba(1, 0, 72, 1);
  display: inline-block;
  line-height: 39px;
  border: 1px solid rgba(1, 0, 72, 1);
  border-radius: 10px;

  padding: 0px 20px;


  position: relative;
  left: 50%;
  transform: translateX(-50%);
}



.blog__list {
  font-size: 0;
  display: none;
  overflow: auto;
  margin-bottom: 22px;
}
.blog__list::-webkit-scrollbar {
  width: 0px;
}
.blog__list::-webkit-scrollbar-track {
  background-color: rgba(229, 229, 229, 0);
}
.blog__list::-webkit-scrollbar-thumb {
  //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border-radius: 16px;
  display: block;
  max-height: 30px;
}
.blog__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(86, 86, 86, 1);
  border-radius: 13px;
  border: 0.5px solid rgba(86, 86, 86, 1);
  padding: 0 16px;
  white-space: nowrap;
  margin-right: 16px;
}



@media (min-width: 767.1px) {
  .blog__wrapper {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .blog-blok {
    flex: 0 0 22%;
  }

}



@media (max-width: 1240px) {
  
}

@media (max-width: 1064px) {
  
}

@media (max-width: 767px) {
  .blog__button-pc {
    display: none;
  }
  .blog-scrollbar {
    position: relative;
    height: 10px;
    margin-top: 40px;

  }
  .blog-scrollbar .blog-swiper-scrollbar {
    opacity: 1 !important;
    background: none !important;
    height: 7px !important;
    /*width: 100% !important;*/
    border-bottom: 1px solid rgba(241, 241, 241, 1);
  }
  .blog-scrollbar .swiper-scrollbar-drag {
    background: rgba(237, 237, 237, 1);
    border-radius: 10px;
    top: -4px;
  }

  .blog__list {
    display: flex;
  }
}

@media (max-width: 620px) {
  .blog {
    padding: 45px 0;
  }
  .blog__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.08em;
    text-align: center;


    margin-bottom: 4px;

  }
  .blog__sub-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;

    margin-bottom: 16px;
  }
  .blog__body {
    max-width: 80%;
  }





}

/* =================================================================
// Конец - "blog"
// ===============================================================*/








/* =================================================================
// Начало - "form"
// ===============================================================*/
.form {
  border-radius: 230px 0;
  background: rgba(48, 48, 48, 0.04);
  padding: 75px 0;
}
.container {}
.form__title {
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.08em;
  color: rgba(24, 30, 53, 1);
  margin-bottom: 12px;
  position: relative;
}
.form__title img{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 130px;
  transform: translateY(20%);
  display: none;
}
.form__sub-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  color: #000;
  margin-bottom: 26px;

}
.form__wrapper {
  background: linear-gradient(100.3deg, rgba(0, 0, 0, 0.02) 4.17%, rgba(0, 0, 0, 0) 90.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));

  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 60px;
  padding: 45px 120px;

}
.form-blok {
  margin-bottom: 18px;
}
.form-blok__title {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 6px;
  color: rgba(123, 123, 123, 1);
}

.form-blok__input input{
  width: 100%;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 58px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  padding: 0 20px;


  font-size: 26px;
  font-style: italic;
  font-weight: 300;
  line-height: 40px;
  color: rgba(123, 123, 123, 1);
  transition: all 0.3s ease 0s;

}
.form-blok__input input._error,
.form-blok__input_textarea textarea._error {
  border: 1px solid rgba(255, 66, 0, 0.9) !important;
  color: rgba(255, 66, 0, 0.9) !important;
}


.form-blok__input_textarea textarea{
  width: 100%;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 120px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  padding: 8px 20px;
  resize: none;


  font-size: 26px;
  font-style: italic;
  font-weight: 300;
  line-height: 30px;
  color: rgba(123, 123, 123, 1);
  transition: all 0.3s ease 0s;
}


.form-footer {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 840px;
}
.form-footer__button {
  flex: 0 0 360px;
  height: 60px;
  border-radius: 10px;

  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #000;

  background: rgba(255, 214, 0, 1);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;

}
.form-footer__text {
  flex: 1 1 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(123, 123, 123, 1);
  padding-left: 15px;

}
.form-footer__link {
  color: rgba(24, 30, 53, 1);
  text-decoration: underline !important;
}


@media (max-width: 1440px) {
  .form {
    border-radius: 120px 0;
    padding: 75px 0;
  }
}

@media (max-width: 1240px) {
  
}

@media (max-width: 1064px) {
  .form {
    border-radius: 0px 0;
    padding: 45px 0;
  }
  .form__wrapper {
    padding: 20px 35px;
    background: rgba(255, 255, 255, 1);
  }
}

@media (max-width: 767px) {
  .form__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.08em;
    text-align: center;


    margin-bottom: 6px;
  }
  .form__sub-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;


    margin-bottom: 26px;
  }
  .form__wrapper {
    padding: 45px 15px;
    padding-bottom: 0;
    border-radius: 10px;
    border: 0px solid #fff;
  }

  .form-footer__button {
    flex: 0 0 100%;
    height: 34px;
    max-width: 204px;
    border-radius: 10px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);


  }

  .form-footer__text {
    max-width: 335px;
    text-align: center;

    margin: 0 auto;
    margin-top: 64px;

  }

  .form-blok__title {
    font-size: 14px;
    line-height: 20px;
  }

  .form-blok__input input{
    height: 40px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 40px;
  }
  .form-blok__input_textarea textarea{
    padding: 12px;
    font-size: 14px;
    line-height: 16px;
  }
}


@media (max-width: 620px) {
  .form {
    padding-top: 25vw;
  }
  .form__title {
    padding-right: 60px;
    padding-left: 60px;
  }
  .form__title img{
    display: block;
    height: 30vw;
  }
}


/* =================================================================
// Конец - "form"
// ===============================================================*/








/* =================================================================
// Начало - ""
// ===============================================================*/
.footer {
  background: rgba(1, 0, 72, 1);
  padding-top: 85px;
  padding-bottom: 45px;
}
.container {}
.footer-list {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1064px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 85px;
}
.footer-list__blok {
  /*flex: 0 0 32%;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;*/
}
.footer-list-item {
  margin-bottom: 24px;
}
.footer-list-item:last-child {
  margin-bottom: 0px;
}

.footer-list-item__title {
  margin-bottom: 16px;
  display: block;
}
.footer-list-item__title a{
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #fff;
}


.footer-list-item__list {}
.footer-list-item__link {
  margin-bottom: 8px;
}
.footer-list-item__link a{
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #fff;
}







/*====================*/

.footer-bootom {
  font-size: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1064px;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.footer-bootom__content {
  flex: 0 0 45%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-bootom__content *:last-child {
  margin-bottom: 0 !important;
}
.footer-bootom__logo {
  display: block;
  margin-bottom: 32px;
  order: -1;
}
.footer-bootom__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #fff;
  margin-bottom: 32px;

}
.footer-bootom__link {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #fff;
  text-decoration: underline !important;

}
.footer-bootom__contact {
  flex: 0 0 35%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.footer-bootom__button {
  background: rgba(255, 214, 0, 1);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 220px;

  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #000;
  margin-bottom: 22px;

}
.footer-bootom__adres {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;

  margin-bottom: 22px;

}
.footer-bootom__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bootom__icons {
  padding-right: 40px;
}
.footer-bootom__icon {
  margin-left: 16px;
}








@media (min-width: 767.1px) {
  .footer-list__blok {
    flex: 0 0 32%;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (max-width: 1240px) {
  
}

@media (max-width: 1064px) {
  
}

@media (max-width: 767px) {
  .footer-list {
    display: block;
  }
  .footer-list-item__list {
    display: none;
    max-height: 0;
    max-width: 0;
  }

  .footer-list-item {
    margin-bottom: 12px !important;
    display: flex;
    justify-content: center;
  }
  .footer-list__blok {
    
  }
  .footer-list-item__title a{
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #fff;
    padding: 5px 12px;
    border: 1px solid #fff;
    border-radius: 20px;
  }


  /*=============================*/


  .footer-bootom {
    display: block;
  }
  .footer-bootom__content {
    display: none;
  }
  .footer-bootom__button {
    display: none;
    margin-bottom: 0px;

  }
  .footer-bootom__list {
    margin-bottom: 16px;
  }
  .footer-bootom__link {
    max-height: 0;
    max-width: 0;
    display: none;
  }
  .footer-bootom__adres {
    margin-bottom: 0px;
    display: none;
  }
  .footer-bootom__icons {
    padding-right: 0;
  }
  .footer-bootom__logo {
    margin-bottom: 0px;
  }


}

@media (max-width: 620px) {
  .footer {
    padding-top: 45px;
    padding-bottom: 5px;
  }
}

@media (max-width: 420px) {
  .footer-list-item__title a{
    font-size: 16px;
  }

}

/* =================================================================
// Конец - ""
// ===============================================================*/



.icon {
  padding: 240px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon img{
  height: 40px;
  margin-right: 34px;
}
.icon img:last-child{
  margin-right: 0;
}



/* =================================================================
// Начало - ""
// ===============================================================*/

/* =================================================================
// Конец - ""
// ===============================================================*/